
header{
	width: 100%;
	height: 150px;
	background-color: greenyellow;
	padding-top: 5px;
}

.cart-button{
	background-color: aqua;
	border-radius: 10px;
	float: right	
}
.goods{
	width: 100%;
	min-height: 300px;
	background-color: aquamarine;
	display: grid;
}
.footer{
	width: 100%;
	height: 30px;
	background-color: gainsboro;
	text-align: center;
	padding-top:10px;
}
//стилизация создаваемого JSом блока
.single-goods{
	width: 200px;
	height: 300px;
	border: 1px solid black;
	border-radius: 50%;
	text-align: center;
}

.single-goods button {
	display: block;
	margin: 20pxs auto;
}